.information {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
}

.social {
    display: flex;
}

.social a {
    color: black;
    margin-right: 30px;
}

.header {
    height: 60px;
    line-height: 60px;
    background-color: #9e1d1d;
    display: flex;
    justify-content: space-between;
}

.logo > img {
    height: 100%;
}

.header__list {
    display: flex;
    font-size: 20px;
    color: white;
}

.header__list > li > a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
}

.btn {
    align-self: center;
}

.btn > a {
    display: block;
    background-color: white;
    line-height: normal;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.body {
    margin-top: 5px;
}

.body > img {
    width: 100%;
}